name: Prod-Deploy
on:
  push:
    branches:
      - main
 
jobs:
  build:
    runs-on: runner1
    steps:   
      - name: Setup PHP        
        uses: actions/checkout@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
 
      - name: Check if composer.json exists
        id: check_files
        uses: andstor/file-existence-action@v2
        with:
          files: 'composer.json'
 
      - name: Get Composer Cache Directory
        id: composer-cache
        if: steps.check_files.outputs.files_exists == 'true'
        run: |
          echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
      - name: Set up dependency caching for faster installs
        uses: actions/cache@v3
        if: steps.check_files.outputs.files_exists == 'true'
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-
      - name: Run composer install if composer.json exists
        if: steps.check_files.outputs.files_exists == 'true'
        run: composer validate --no-check-publish && composer install --prefer-dist --no-progress
      - name: installing zip
        run: sudo apt install zip unzip
      - name: Zip artifact for deployment
        run: zip release.zip ./* -r
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v3
        with:
          name: php_app
          path: release.zip

  
  deploy:
    needs: build
    runs-on: runner1
    steps:
    - name: 'Login via Azure CLI'
      uses: azure/login@v1
      with:
         creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: 'Deploy to Azure VM'
      uses: appleboy/scp-action@v0.1.4
      with:          
          host : ${{secrets.HOST}}
          username : ${{secrets.USER}}          
          port : ${{secrets.PORT}}
          password : ${{secrets.PASS}}          
          source: /home/sumanth.n/actions-runner/_work/php_app/* 
          target: /home/sumanth.n/prod/*
          
 
         
